:root {
  color-scheme: light dark;
}
body {
  color: light-dark(#333333, #c0c0c0);
  background-color: light-dark(#c0c0c0, #333333);
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 30px;
}

.box{ 
    height: auto; 
    width:  auto;
    border: 1px solid; 
} 

li {
    margin-top: 5px;
    
}
